:root {
  --tablet: 768px;
  --smallMonitor: 992px;
  --largeMonitor: 1200px;
}

.ui.sidebar-menu {
  margin-top: 40px !important;
}

@media (min-width: 768px) {
  .ui.sidebar-menu {
    visibility: visible;
    transform: translate3d(0, 0, 0) !important;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}
